
/* minimalist css style reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(94, 94, 94);
}

#map-canvas {
  width: 100%;
  height: 90vh;
}

/* infowindow styles */
#info-img {
  max-width: 320px;
  margin: 0 auto;
}

.info-title,
.info-sub {
  font-family: 'Open Sans', sans-serif;
}

.info-title {
  font-size: 18px;
  margin-top: 0.4em;
  margin-bottom: 0.6em;
}

.info-hr {
  max-width: 100px;
  margin-bottom: 0.6em;
}

.info-sub {
  font-size: 14px;
  margin-bottom: 0.3em;
}

/* filtering styles */
/* Flexbox for filters */
/* #filters {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
} 

#filters {
  width: 100%;
  min-height: 3.2em;
  background-color: rgb(249, 249,249);
} */

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#filters li {
  font-size: 12px;
  margin-left: 1em;
  margin-right: 0.5em;
}

#filters-fine {
  font-style: italic;
} 

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: #dbdbdb;
	display: block;
	border-radius: 100px;
  position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 90px;
	transition: 0.5s;
}

input:checked + label {
	background: #64a7f3;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 16px;
}

/* reset button styles */
#reset-btn {
  font-family: 'Open Sans', sans-serif;
  padding: .75em 1em;
  background: none;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;.

}

#reset-btn:hover {
  padding: .75em 1em;
  background: #e4e3e3;
  border: 1px solid  rgb(175, 175, 175);


}

/* ================================= 
  Media Queries
==================================== */

@media (max-width: 769px) {
  label {
      margin: 0 auto;
  }
  #reset-btn,
  #reset-btn:hover {
    margin-left: none;
    margin-top: 2em;
    margin-bottom: 1.2em;
  }
  #filters-fine {
    margin-bottom: 20px !important;
  }
  input {
    margin-top: 0 !important;
  }
  .header
  #filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #filters label {
    margin-bottom: 0.7em;
  }

}

@media (min-width: 769px) {
  .header
  #filters {
    display: flex;
    align-items: center;
    justify-content: center;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
  }
  #reset-btn,
  #reset-btn:hover {
    margin-left: 4.8em;
    margin-top: none;
  }

}

@media (min-width: 1025px) {
  .header {
		flex-direction: row;
    justify-content: space-between;
  }

}
