
/* minimalist css style reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(94, 94, 94);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 18em;
  background-color: white;
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}

#header {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 800;
  color: black;
}

#dc-logo {
  display: inline;
  margin-right: 0.3em;
  height: 13px;
}

#sub-header {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 0.8em;
}

#map-canvas {
  width: 100%;
  height: 90vh;
}

/* infowindow styles */
#info-img {
  max-height: 170px;
  margin-left: 1em;
  margin-top: 1em;
}

.info-title,
.info-sub {
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}

.info-title {
  font-size: 16px;
  margin-top: 0.4em;
  margin-bottom: 0.6em;
  margin-left: 0.8em;
}

.info-sub {
  font-size: 14px;
  margin-left: 1em;
  line-height: 1.5em;
}

#container {
	background-color: #f4f4f4;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#filters li {
  font-size: 12px;
  margin-left: 1em;
  margin-right: 0.5em;
}

#filters-fine {
  font-style: italic;
} 

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: #dbdbdb;
	display: block;
	border-radius: 100px;
  position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 90px;
	transition: 0.5s;
}

input:checked + label {
	background: #64a7f3;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 16px;
}

	#reset-btn {
    font-size: 12px;
    align-items: flex-start; 
    justify-content: center;
		background: #ECECEC;
		border-radius: 7px;
    padding: 10px 20px;
    text-transform: uppercase;
    display: flex;
		color:#7f7f7f;
		text-decoration: none;
		text-shadow: 0px 1px 0px #fff;
		border: 1px solid #a7a7a7;
		width: 175px;
		box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
		-webkit-transition:box-shadow 0.5s;
  }
  
	#reset-btn i {
		float: right;
		margin-top: 2px;
  }
  
	#reset-btn:hover {
		box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
  }
  
	#reset-btn:active {
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
		background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
  }

#reset-btn:hover {
  padding: 10px 20px;
  background: #e4e3e3;
  border: 1px solid  rgb(175, 175, 175);
}

/* ================================= 
  Media Queries
==================================== */

@media (max-width: 769px) {
  header {
    display: none;
  }
  
  label {
      margin: 0 auto;
  }
  #reset-btn,
  #reset-btn:hover {
    margin-left: none;
    margin-top: 1.5em;
    margin-bottom: 2.2em;
  }

  #filters-fine {
    margin-top: 2em;
    margin-bottom: 2em !important;
  }
  input {
    margin-top: 0 !important;
  }
  #container
  #filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #filters label {
    margin-bottom: 0.7em;
  }

}

@media (min-width: 769px) {
  #container
  #filters {
    display: flex;
    align-items: center;
    justify-content: center;
	}
	#container {
		flex-direction: column;
		align-items: center;
    width: 100%;
		margin: 0 auto;
  }
  #filters {
    height: 4.5em;
  }
  #reset-btn,
  #reset-btn:hover {
    margin-left: 4.8em;
    margin-top: none;
  }

}

@media (min-width: 1025px) {
  #container {
		flex-direction: row;
    justify-content: space-between;
  }

}
